.navItems{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-right: 4%;
}
.navLinks{
    text-decoration: none;
    align-content: center;
    font-size: 24px !important;
    color: #000;
    font-weight: 400 !important;
}
.navDropDown{
    background-color: transparent;
    border: 0px solid ;
}
.dropDownItem{
    font-size: 18px !important;
    
}