.ourCollaboratorsContainer {
  width: 100%;
  padding: 5%;
}

.ourCollaboratorsTitle {
  font-size: 36px;
  font-weight: 700;
  margin-left: 7%;
  margin-bottom: 3%;
}

.collaboratorTitle {
  font-size: 68px;
  font-weight: 700;
  color: #b6b5b5;
}

.ourCollaboratorsDots {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background-color: #c4c4c4;
}

.ourCollaboratorsContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.collaborator {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 4px 100px 2px #a5a4a440;
  border-radius: 10px;
  width: 23%;
  z-index: -3;
  height: 350px;
  opacity: 0.7;
  filter: blur(1px);
  transition: all 0.3s ease;
}

.activeCollaborator {
  box-shadow: 0px 4px 100px 2px #8f8e8e40;
  width: 25%;
  height: 400px;
  opacity: 1;
  filter: blur(0px);
  margin: 0 2%; 
}
