.mainContianer {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contianer {
  width: 95vw;
  height: 100vh;
  background-color: #ffffff;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.InputGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 90vw;
  padding-left: 25px;
}
.nameInputField {
  width: 400px;
  height: 40px;
  color: #000;
  border-radius: 5px;
  border-width: 1px;
}
.inputTitleContainer {
  width: 180px;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}
.inputTitle {
  color: #000;
  font-size: medium;
  font-weight: bold;
}
.phoneInputField {
  width: 900px;
  height: 40px;
  color: #000;
  border-radius: 5px;
  border-width: 1px;
}
.addressInputField {
  width: 400px;
  height: 130px;
  color: #000;
  border-radius: 5px;
  border-width: 1px;
}
.addressTitleContainer {
  width: 180px;
  display: flex;
  justify-content: flex-end;
  align-self: f;
}
.agebloodcontainer {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.agebloodSubcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.agebloodTitleContiner {
  width: 100px;
  display: flex;
  justify-content: flex-end;
}
.agebloodInputfield {
  width: 280px;
  height: 40px;
  color: #000;
  border-radius: 5px;
  border-width: 1px;
  margin-left: 30px;
}
.stateContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.stateInputfield {
  width: 273px;
  height: 40px;
  color: #000;
  border-radius: 5px;
  border-width: 1px;
  margin-left: 30px;
}
.tickBoxContainer {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: center;
}
.submitBoxContainer {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: flex-end;
  padding-right: 70px;
}
.subButton {
  width: 150px;
  height: 40px;
  border: 0px;
  background-color: #ffffff;
}
.dorpdownBtn{
  position: absolute;
}
.nameInputField,
.phoneInputField::placeholder {
  padding-left: 20px;
  color: black;
}
.addressInputField::placeholder {
  padding-left: 20px;
  color: black;
}
